#login {
    height: 80vh;
    width: 600px;
}

button {
    text-decoration: none;
    border: none;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;
    flex-direction: column;

}

.header {
    margin-bottom: 24px;
    flex-direction: column;
}

.underline {
    width: 66px;
    height: 6px;
    border-radius: 9px;
    background-color: blueviolet;
}

.text {
    font-size: 38px;
    color: blueviolet;
    font-weight: 600;
    margin-bottom: 8px;
}

.input img {
    margin: 16px 28px;
}

.input {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
    width: 28rem;
    height: 60px;
    margin-bottom: 18px;
}

.input input {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: #797979;
    height: 50px;
    width: 75%;
}

.forgot-password {
    color: #797979;
}

.forgot-password span {
    color: blueviolet;
    cursor: pointer;
}

.submit-container {
    gap: 48px;
    margin-top: 36px;
}

.submit {
    padding: 12px 72px;
    border-radius: 50px;
    background-color: blueviolet;
    color: white;
    font-weight: 700px;
    font-size: 18px;
}