.section_m {
    margin: var(--section-m);
  }

.img{
  width: var(--img-w-sm);
  height: var(--img-h-sm);
}

.menu_text{
  letter-spacing: 4px;
  margin: 0px 4px;
  color: rgba(2, 6, 12, 0.6);
}

.menu_text_div{
  padding: 32px 0px 16px;
}